<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ appJSFile }}"></script>
  </body>
</html>
