html {
  //font-family: sans-serif; // 2
  //line-height: 1.15; // 3
  text-size-adjust: 100%; // 4
  -webkit-tap-highlight-color: rgba($dark, 0); // 5
  //font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0; // 1
  /*  font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;*/
  text-align: left; // 3
  overflow-x: hidden;
}

*:focus {
  outline: 0.1rem dashed $gray-800;
}

.focusable {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  &:focus {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  background: none;
  border: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}
